@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "The Cult of Do";
}
<p>
I’ve been having a hard time putting into words a growing feeling I’ve had for a long time.  The key component to this feeling is that there is a natural baseline to life, a background hum, a natural state of simply existing. 
</p><p>
I have often associated this with people who spend all their time in the evenings on the couch watching TV, playing video games, or some other passive entertainment activity, but I have come to believe that it goes deeper than that.  I do enjoy entertainment.  I love movies, certain TV series, and video games, but I get the impression that for some people, life is just a series of delays preventing them from getting back to the couch. 
</p><p>
I also think this type of sedentary attitude toward life is addictive.  One great TV show turns into three others that aren’t that great, but are similar enough to one that is to pass the time with until the new season starts. 
</p><p>
I have always been impressed by people who seem to have a neverending list of adventures in their lives.  These people don’t just exist.  They don’t simply wait to be entertained.  They create, they try new things, they make, they do. 
</p><p>
I’m not saying that I always find myself in the category of doers, but that I always aspire to be.  I find myself believing that having new experiences is the single most important thing you can do, and there’s some evidence to back that up.  One of the current theories about why life moves so fast as you get older is that rut you find yourself in doesn’t contain many “firsts” and those “firsts” form deep memories.  The secret to feeling as if you’re really living life may quite seriously be to continue to do new things, no matter where you are in life.
</p><p>
As an example, I had an idea for a Halloween costume, but to pull off the costume, I would really need to dye my hair a very odd color.  Now, I work in an environment where such a thing would not be acceptable, so my costume would have to be short-lived.  I could have gone with a temporary coloring, or settled for the wrong color, but instead, I used a permanent bleach kit and a semi-permanent color to get exactly what I wanted.  When it was done, I shaved my head so I could go to work.  Bald is better than bright green where I work.
</p><p>
People asked why.  Of course they did.  It’s kind of a bizarre thing to do, I admit.  Yes, I could have gone subpar on the coloring, but when it comes right down to it, I wanted to do it, and I wanted to do it right.  Because it was doing something new.  By going this route, I got to do three new things, have a pretty excellent Halloween costume that was very fun to wear, dye my hair a really odd color, and shave my head down to stubble.
</p><p>
After the fact, I feel this as a transition in my life.  An acceptance that I wanted to be part of the “Cult of Do.”  I told people that my new motto was “Never miss your opportunity to do something stupid.”  What I was really saying was “Never miss your opportunity to do something”. 
</p><p>
Do things that other people are afraid to do. 
</p><p>
Do things that other people think are stupid, and challenge their whole notion of odd. 
</p><p>
Do things.
</p><p>
The Cult of Do.  Join me.
</p>