@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "My Half-Eaten Sandwich Board";
}
<div>
    Hi, all.  My name is Kevin P. Davis, and this is my little corner of the internet.  
    I decided a while back to carve out this little niche to allow people to find me and find out about me.
    It grows in fits and starts, but it helps us start a conversation.
    Having a glance around here will help you get to know me a bit better.
</div>
<div>&nbsp;</div>
<div>
    Probably the best way to get to know me would be through my blog at <a href="http://softwarearchaeology.blogspot.com">SoftwareArchaeology.blogspot.com</a>
</div>
<h3>Me as a wordcloud</h3>
<div>I like this as much as I do my ordinary resume.  I think it says the same amount to a hiring 
manager while being somewhat more... interesting.</div>
<div id="wordcloud">
    <a href="Images/myResume.PNG"><img class="myImage" src="Images/myResume.PNG" width="680" height="405" alt="Me as a word cloud" /></a>
</div>