@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Hobbies";
}
<div>
    I haven't really fleshed all this out, just yet, but these are the things I'm into, or have been into very recently.
    <ul id="posts">
        <li><a href="@Href("~/Homebrewing")">Homebrewing</a></li>
        <li><a href="@Href("~/Scouting")">Scouting</a></li>
        <li><a href="@Href("~/ParamountTheatre")">Paramount Theatre</a></li>
        <li><a href="http://softwarearchaeology.blogspot.com/2013/02/how-to-run-farther.html">Running</a></li>
    </ul>
</div>
