@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Homebrewing";
}
<p>
    Since I really enjoy the experience of making things myself, I recently became involved in homebrewing my own beer.
    I have been brewing for almost two years, and have put more than two dozen batches in the fermenters.  I am a bottler
    who prefers the darker winter beers to the lighter, crisper beers of summer and spring.  My favorite style is Porter, 
    but I have done many other styles as well.  My favorite online site for beermaking supplies is 
    <a href="http://www.austinhomebrew.com">Austin Homebrew</a>
</p>