@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Paramount Theatre";
}
<p>
    The Paramount Theatre in downtown Aurora is our answer to Broadway in the 'Burbs.  Each year they host a 
    fantastic lineup an put on superb shows.  The theatre is beautiful, and the staff and shows are top notch.
    
    I support the Paramount by volunteering on the Board of Trustees and being an active theatre attendee.  
    For more information about the Paramount, have a look at <a href="http://www.paramountaurora.com/">http://www.paramountaurora.com</a>.
</p>