@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Business and Technology Interests";
}
<div>
    Here's where I talk about my experience, professionally. 
    Business Interests include
    <ul>
        <li>Driving innovation through strategic, enterprise thinking</li>
        <li>Changing Corporate culture in a positive way</li>
        <li>Contributing to a more active community</li>
        <li>Motivating an IT workforce</li>
        <li>Corporate IT as a separate discipline from software development</li>
        <li>Small but great companies</li>
    </ul>
    My current interests in technology:
    <ul>
        <li>I'm a core team member organizing <a href="http://www.thatconference.com">thatConference</a></li>
        <li>C#/.NET</li>
        <li>HTML 5/Javascript/CSS</li>
        <li>Data Science</li>
        <li>R Programming language</li>
        <li>Agile methodologies</li>
        <li>Testing and test tools and frameworks</li>
        <li>Continuous Integration and build tools</li>
        <li>Performing technical book reviews</li>
    </ul>
</div>
<div>
    This is my <a href="Documents/Kevin P. Davis - Resume - Public.pdf">Resume</a>.
</div>
