@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Scouting";
}
<p>
    I am very involved in my local cub scout pack, <a href"http://www.facebook.com/pages/Cub-Scout-Pack-331/167037650041495">Pack 331</a>
    in Montgomery, IL.  I have been a den leader for past two years, and 
    an assistant cubmaster for a year.  In this role, I have been responsible for organizing the scout leadership of the pack, 
    planning the pack meetings, putting the monthly newsletter together, and running the pack meetings.  
</p>