@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Some Writings";
}
<div>
    I realize that it's pretty hard to know where to start on a <a href="http://SoftwareArchaeology.blogspot.com">blog</a> like mine, where my interests are not confined to a
    single topic. I have collected some of my favorite posts here, so you could see what I like more easily.
</div>
<div>
    <ul id="posts">
        <li><a href="http://softwarearchaeology.blogspot.com/2013/03/relentlessly-market-to-your-own-people.html">Relentlessly Market to Your Own People</a></li>
        <li><a href="http://softwarearchaeology.blogspot.com/2012/04/cult-of-do.html">The Cult of Do</a></li>
        <li><a href="http://softwarearchaeology.blogspot.com/2012/05/software-archaeology.html">Software Archaeologist</a></li>   
        <li><a href="http://softwarearchaeology.blogspot.com/2012/12/paying-down-your-technical-debt.html">Paying Down Your Technical Debt</a></li>    
        <li><a href="http://softwarearchaeology.blogspot.com/2012/12/whats-so-great-about-self-driving-cars.html">What's So Great About Self-Driving Cars?</a></li>
        <li><a href="http://softwarearchaeology.blogspot.com/2013/01/part-time-technology-work.html">Part-Time Technology Work</a></li>
    </ul>
</div>
